*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #1b1568, #3c47bc, #2f0c81);
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
.container{
    padding: 0;
    max-width: 90%;
}
.card{
    border-radius: 20px;
    padding: 20px 30px;
    background: #ffffff;
}
.tasklist{
    padding: 2px 5px;
}

.tasklist li{
    background: #d2defd;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 5px 10px;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: #07235b;
}