body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(130deg, rgb(151, 68, 184), rgb(96, 71, 185), rgb(158, 77, 190));
}
  
  .container {
    background-color: rgb(225, 220, 245);
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
  }
  
  button {
    background-color: #2f46de;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }