*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #7e389c, #2d2ac4, #9b19ae);;
    padding: 10px;
}