*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;  
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(130deg, rgb(151, 68, 184), rgb(96, 71, 185), rgb(158, 77, 190));
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  }

  .container input{
    outline: none;
    min-width: 320px;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    border-radius: 25px;
    font-size: 16px;
  }

  .eye-container {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #eye-icon {
    font-size: 20px;
    color: #777;
    transition: 0.2s ease;
  }
  
  #eye-icon:hover {
    color: rgb(10, 10, 165);
    cursor: pointer;
  }